
<table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Company Name</th>
                <th>Symbol</th>
                <th>Price to earnings</th>
                <th>Change</th>
                <th>Real time size</th>
                <th>Real Time Price</th>
                <th>week52High</th>
                <th>week52Low</th>
            </tr>
        </thead>
        <tbody id="stocks">
            </tbody>
</table>
