
<div class="jumbotron">
  <center> 
  <h1 class="display-4">Login</h1>
  
    <div class="col-6">

        <input id="email" class="form-control" type="text" placeholder="Email">
         <input id="password" class="form-control mt-2" type="text" placeholder="Password">
         <h6 id="error" style="color: red;"></h6>
         <button id="submit" class="btn btn-primary mt-4" onclick="login()" >Submit</button>
    </div>
     <a href="/signUp"> Create Account</a>
  </center>
</div>
<center>
