
<div class="jumbotron">
  <center> 
  <h1 class="display-4">Sign Up</h1>
  
    <div class="col-6">
        <input id="name" class="form-control" type="text" placeholder="Name">
        <input id="email" class="form-control" type="text" placeholder="Email">
         <input id="password" class="form-control mt-2" type="text" placeholder="Password">
         <button id="submit" class="btn btn-primary mt-4" onclick="signUp()" >Submit</button>
    </div>
  </center>
</div>




<center>
